@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Courgette|Fondamento:400,400i|Jim+Nightshade|Kavivanar|Lateef|Patrick+Hand|Quintessential');
@import 'partials/animations';
@import 'partials/mixins';
@import 'partials/variables';

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $main-bg-color;
}

#title {
  @include position(10vh, center);

  h1 {
    color: $title-color;
    font-family: $btn-font;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: darken($title-color, 30%) 1px 0 10px;
  }
}

#quote-div {
  @include position(60vh, center);
  padding: 0 40px;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    height: 55vh;
  }

  @media screen and (max-width: 415px) {
    height: 50vh;
  }

  @media screen and (max-width: 320px) {
    height: 45vh;
  }

  #text {
    @include text-styles;
    top: 50%;
    font-family: $primary-font;

    @media screen and (max-width: 1024px) {
      top: 35%;
    }

    @media screen and (max-width: 415px) {
      top: 10%;
    }

    @media screen and (max-width: 320px) {
      font-size: 1.2em;
    }
  }
}

#author-div {
  @include position(15vh, right);
  overflow: hidden;

  #author {
    @include text-styles;
    right: 15%;
    font-family: $secondary-font;

    @media screen and (max-width: 415px) {
      right: 5%;
    }
  }
}

#button-div {
  @include position(15vh, center);
}

#new-quote {
  background-color: $primary-btn-color;

  &:hover {
    background-color: lighten($primary-btn-color, 10%);
  }
}

#tweet-quote {
  background-color: $secondary-btn-color;

  &:hover {
    background-color: lighten($secondary-btn-color, 10%);
  }
}

#twitter-icon {
  color: darken($icon-color, 25%);
}

.btn-style {
  width: 220px;
  padding: 20px 40px;
  margin: 0px 5px 0 5px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: $btn-text-color;
  font-family: $btn-font;
  font-size: 1.2em;
  border-color: $btn-brdr-color;
}

