@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Courgette|Fondamento:400,400i|Jim+Nightshade|Kavivanar|Lateef|Patrick+Hand|Quintessential');
@import 'partials/animations';
@import 'partials/mixins';
@import 'partials/variables';

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $main-bg-color;
}

#quote-div {
  @include position(70vh, center);
  padding: 0 40px;

  #text {
    @include text-styles;
    top: 50%;
    font-family: $primary-font;
  }
}

#author-div {
  @include position(15vh, right);

  #author {
    @include text-styles;
    right: 15%;
    font-family: $secondary-font;
  }
}

#button-div {
  @include position(15vh, center);
}

#new-quote {
  background-color: $primary-btn-color;

  &:hover {
    background-color: lighten($primary-btn-color, 10%);
  }
}

#tweet-quote {
  background-color: $secondary-btn-color;

  &:hover {
    background-color: lighten($secondary-btn-color, 10%);
  }
}

#twitter-icon {
  color: darken($icon-color, 25%);
}

.btn-style {
  width: 220px;
  padding: 20px 40px;
  margin: 0px 5px 0 5px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: $btn-text-color;
  font-style: $btn-font;
  font-size: 1.2em;
  border-color: $btn-brdr-color;
}

