
@mixin position($height, $align) {
    height: $height;
    text-align: $align;
}

@mixin text-styles {
    position: relative;
    font-size: 1.9em;
    margin: 0;

    @media screen and (max-width: 415px) {
        font-size: 1.5em;
    }
}

@mixin animate($dir, $pos, $op) {
  #{$dir}: $pos;
  opacity: $op;
}