$text-color: #fff;
$main-bg-color: #0e0e0e;
$primary-btn-color: #eda5b4;
$secondary-btn-color: #b4eda5;
$btn-text-color: #0e0e0e;
$btn-brdr-color: #656565;
$icon-color: #DEA5ED;

$primary-font: 'Quintessential', 'Comic Sans', cursive;
$secondary-font: 'Lateef', 'Comic Sans', cursive;
$btn-font: 'Arial', sans-serif;