$text-color: #fff;
$main-bg-color: #0e0e0e;
$btn-bg-color: #878787;
$btn-brdr-color: #656565;

$primary-font: 'Quintessential', 'Comic Sans', cursive;
$secondary-font: 'Lateef', 'Comic Sans', cursive;
$btn-font: 'Arial', sans-serif;