@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Courgette|Fondamento:400,400i|Jim+Nightshade|Kavivanar|Lateef|Patrick+Hand|Quintessential");
.animate-right-appear {
  right: -100%;
  opacity: 0; }

.animate-right-appear.animate-right-appear-active {
  right: 0;
  opacity: 1;
  transition: all 600ms linear; }

.animate-right-enter {
  right: -100%;
  opacity: 0; }

.animate-right-enter.animate-right-enter-active {
  right: 0;
  opacity: 1;
  transition: all 600ms linear 300ms; }

.animate-right-exit {
  right: 0;
  opacity: 1; }

.animate-right-exit.animate-right-exit-active {
  right: -100%;
  opacity: 0;
  transition: all 300ms linear; }

.animate-left-appear {
  left: -100%;
  opacity: 0; }

.animate-left-appear.animate-left-appear-active {
  left: -15%;
  opacity: 1;
  transition: all 800ms linear; }

.animate-left-enter {
  left: -100%;
  opacity: 0; }

.animate-left-enter.animate-left-enter-active {
  left: -15%;
  opacity: 1;
  transition: all 800ms linear 300ms; }

.animate-left-exit {
  left: -15%;
  opacity: 1; }

.animate-left-exit.animate-left-exit-active {
  left: -100%;
  opacity: 0;
  transition: all 300ms linear; }

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #0e0e0e; }
  body p {
    margin: 0; }

#quote-div {
  height: 70vh;
  text-align: center;
  padding: 0 40px; }
  #quote-div #text {
    position: relative;
    font-size: 1.9em;
    top: 50%;
    font-family: "Quintessential", "Comic Sans", cursive; }

#author-div {
  height: 15vh;
  text-align: right; }
  #author-div #author {
    position: relative;
    font-size: 1.9em;
    right: 15%;
    font-family: "Lateef", "Comic Sans", cursive; }

#button-div {
  height: 15vh;
  text-align: center; }

#new-quote {
  background-color: #eda5b4; }
  #new-quote:hover {
    background-color: #f6d0d7; }

#tweet-quote {
  background-color: #b4eda5; }
  #tweet-quote:hover {
    background-color: #d7f6d0; }

#twitter-icon {
  color: #b73bd8; }

.btn-style {
  width: 220px;
  padding: 20px 40px;
  margin: 0px 5px 0 5px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: #0e0e0e;
  font-style: "Arial", sans-serif;
  font-size: 1.2em;
  border-color: #656565; }
