@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Courgette|Fondamento:400,400i|Jim+Nightshade|Kavivanar|Lateef|Patrick+Hand|Quintessential");
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #0e0e0e; }
  body p {
    margin: 0; }

#quote-div {
  height: 70vh;
  text-align: center; }
  #quote-div #text {
    position: relative;
    font-size: 1.9em;
    top: 50%;
    font-family: "Quintessential", "Comic Sans", cursive; }

#author-div {
  height: 15vh;
  text-align: right; }
  #author-div #author {
    position: relative;
    font-size: 1.9em;
    right: 15%;
    font-family: "Lateef", "Comic Sans", cursive; }

#button-div {
  height: 15vh;
  text-align: center; }

#new-quote {
  background-color: #eda5b4; }
  #new-quote:hover {
    background-color: #f6d0d7; }

#tweet-quote {
  background-color: #b4eda5; }
  #tweet-quote:hover {
    background-color: #d7f6d0; }

#twitter-icon {
  color: #b73bd8; }

.btn-style {
  width: 220px;
  padding: 20px 40px;
  margin: 0px 5px 0 5px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: #0e0e0e;
  font-style: "Arial", sans-serif;
  font-size: 1.2em;
  border-color: #656565; }
